@{
    ViewData["Title"] = "Home Page";
}


<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 px-4">
    <a href="#" class="navbar-brand">SUPER GALLERY</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="#" class="nav-link">Legendary Motor Sports</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Warstock Cache & Carry</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Southern San Andreas Super Autos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Dock Tease</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Elitas Travel</a></li>
        </ul>
    </div>
    <div class="d-flex">
        <a href="" class="nav-link text-white me-2"><i class="bi bi-search"></i></a>
        <a href="" class="nav-link text-white me-2"><i class="bi bi-cart"></i></a>
        <a href="" class="nav-link text-white"><i class="bi bi-person"></i></a>
    </div>
</nav>

<!-- SLIDER -->
<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./img/slide1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./img/slide2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./img/slide3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="./img/slide4.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<!-- HEADER -->
<h2 class="text-center my-4 border border-dark w-50 mx-auto py-2">Browse our legendary collection</h2>

<!-- ARAÇ KARTLARI -->
<div class="container">
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100">ARAÇ KARTI (BÜYÜK)</div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">ARAÇ KARTI (ORTA)</div>
        </div>
        <div class="col-md-3">
            <div class="card h-100">ARAÇ KARTI (ORTA)</div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">ARAÇ KARTI (KÜÇÜK)</div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">ARAÇ KARTI (KÜÇÜK)</div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">ARAÇ KARTI (KÜÇÜK)</div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer border-top bg-dark text-white text-center py-3 mt-5">
    &copy; 2025 SUPER GALLERY. All rights reserved. Çok uğraşma :D
</footer>
